[Service]
WorkingDirectory=/root/Moki-ROV2
ExecStart=/usr/local/bin/node /root/Moki-ROV2/rov.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=mokirov
User=root
Group=root
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
